@import "~normalize.css";
@import "roboto.css";

/*.body{*/
/*	font-family: Geneva, Arial, Helvetica, sans-serif;*/
/*}*/

.header{
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	padding: 10px;
	color: #5b91e2;
}
